<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.thymeleaf.org">
   <head>
   <th:block th:replace="/shop/inc/head.html"/> 
	<style>
	.box-style{
		width: 220px;
		height: 200px;
		display:inline-block;
		text-align: right;
		position:relative;
	}
	.box-style img{
		width: 200px;
		height: 200px;
		border-radius: 5px;
		position: absolute;
		left: 10px;
	}
	.box-style span{
		position: absolute;
		top:10px;
		left:185px;
		font-size: 22px;
    	font-weight: 500;
	}
	.select_a{
		background-color: #f2f2f2;
  		border-radius: 5px;
  		border: solid 1px #f2f2f2;
  		font-size: 20px;
	  	font-weight: 500;
	  	height: 58px;
	  	line-height: 58px;
	  	width: 100%;
	}
	</style>
   </head>
	
   <body>
    <!-- Preloader Start -->
    <th:block th:replace="/shop/inc/preloader.html"/>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
            	<!-- top 링크 Start -->
            	<th:block th:replace="/shop/inc/top_link.html"/>
                <!-- top 링크 End -->
                
                <!-- 메인 Navi Start -->
                <th:block th:replace="/shop/inc/main_navi.html"/>
            	<!-- 메인 Navi End -->
            	
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>   
	<div class="container">
		<form name="form1">
		
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">구분</strong>
						<div class="col-sm-2">
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="business_type" value="개인사업자">개인사업자
								</label>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="business_type" value="법인사업자">법인사업자
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">업체명</strong>
						<div class="col-sm-9">
							<input type="text" class="t_input" name="store_name" placeholder="업체명 입력" title="업체명">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">사업자 등록번호</strong>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="business_number1" maxlength="3" title="사업자등록 앞번호">
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="business_number2" maxlength="2" title="사업자등록 중간번호">
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="business_number3" maxlength="5" title="사업자등록 끝번호">
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn_5" id="bt_regist">확인</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">소재지</strong>
						<div class="col-sm-6">
							<input type="text" class="t_input" name="postcode" placeholder="우편번호" title="우편번호">
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn_5" id="search_address">우편번호 찾기</button>
						</div>
					</div>
					<div class="row form-group">
					<label class="col-sm-3 col-form-label"></label>
						<div class="col-sm-9">
							<input type="text" class="t_input" name="store_sido" placeholder="주소" title="주소">
						</div>
					</div>
					<div class="row form-group">
					<label class="col-sm-3 col-form-label"></label>
						<div class="col-sm-9">
							<input type="text" class="t_input" name="store_addr" placeholder="상세주소" title="상세주소">
						</div>
					</div>	
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">상품문의 연락처</strong>
						<div class="col-sm-2">
							<select name="store_phone1" class="select_a" title="상품문의 연락처 앞번호">
								<option value="">선택</option>
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="019">019</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="016">016</option>
							</select>
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="store_phone2" maxlength="4" title="상품문의 연락처 중간번호">
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="store_phone3" maxlength="4" title="상품문의 연락처 끝번호">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">담당자 연락처</strong>
						<div class="col-sm-2">
							<select name="manager_mobile1" class="select_a" title="담당자 연락처 앞번호">
								<option value="">선택</option>
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="019">019</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="016">016</option>
							</select>
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="manager_mobile2" maxlength="4" title="담당자 연락처 중간번호">
						</div>
						<div class="col-sm-2">
							<input type="text" class="t_input" name="manager_mobile3" maxlength="4" title="담당자 연락처 끝번호">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">담담자명</strong>
						<div class="col-sm-9">
							<input type="text" class="t_input" name="manager_name" placeholder="담당자명 입력" title="담당자명">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">담담자 이메일</strong>
						<div class="col-sm-3">
							<input type=text class="t_input" name="email_id" title="담당자 이메일 아이디">
						</div>
						<label>@</label>
						<div class="col-sm-3">
							<input type=text class="t_input" name="email_domain" title="담당자 이메일 도메인">
						</div>
						<div class="col-sm-2">
							<select id="email_select" class="select_a" title="담당자 이메일 도메인">
								<option value="">직접입력</option>
								<option value="naver.com">naver.com</option>
								<option value="daum.net">daum.net</option>
								<option value="nate.com">nate.com</option>
								<option value="gmail.com">gmail.com</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-12">
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">인증서 첨부</strong>
						<div class="col-sm-9">
							<input type=file class="t_input" name="certification" multiple title="인증서 첨부">
						</div>
					</div>
				</div>
			</div>
				
			<div class="row m-3" id="app1">
				<div class="col-md-12" >
					<div class="row form-group">
						<strong class="col-sm-3 col-form-label">미리보기</strong>
						<div class="col-sm-9">
							<template v-for="json in imgList">
								<imgbox :key="json.key" :obj="json" :idx="json.key"/>
							</template>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m-3">
				<div class="col-md-3" align="center">
					<button type="button" class="btn_5" id="bt_regist">등록</button>
				</div>
			</div>	
					
		</form>
	</div>
	    
    <footer>
	<th:block th:replace="/shop/inc/footer.html"/>
   </footer>
   
	<!-- JS here -->
	<th:block th:replace="/shop/inc/footer_link.html"/>		
	        
    </body>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script>
	let app1;
	let key=0;
	
	const imgbox={
		template:`
		<div class="box-style">
			<img :src="json.binary">
			<span><a @click="delImg(p_idx)" href="javascript:return false;" style="color:black">X</a></span>
		</div>
		`,
		props:['obj', 'idx'],
		data(){
			return{
				json:this.obj,
				p_idx:this.idx  //key 값
			}
		},
		methods:{
			delImg:function(idx){
				//alert("삭제할 이미지의 고유 idx는 "+idx);
				
				for(let i=0; i<app1.imgList.length; i++){
					let json=app1.imgList[i];
					if(json.key==idx){
						app1.imgList.splice(i, 1);
					}
				}
			}
		}
	};
	
	app1=new Vue({
		el:"#app1",
		components:{
			imgbox
		},
		data:{
			count:5,
			imgList:[]
		}
	});
	
	/*------------------------------------------
		중복 이미지 체크
	------------------------------------------*/
	function checkDuplicate(filename){
		let count=0;
		
		for(let i=0; i<app1.imgList.length; i++){
			let json=app1.imgList[i];
			if(json.name==filename){  //중복 발견
				count++;
				console.log("count is", count);
				break;
			}
		}
		return count;
	}
	
	/*------------------------------------------
		이미지 미리보기 구현
	------------------------------------------*/
	function preview(files){
		for(let i=0; i<files.length; i++){
			let file=files[i];
			
			if(checkDuplicate(file.name)<1){  //중복된 파일이 없을 경우 파일을 읽음
				let reader=new FileReader();
				reader.onload=(e)=>{
					//console.log(e);
					//console.log("이미지를 이루고 있는 데이터", e.target.result);
					
					key++;
					
					let json=[];
					
					json['key']=key;
					json['name']=file.name;
					json['binary']=e.target.result;
					json['file']=file;
					
					console.log("json is ", json);
					app1.imgList.push(json);  //이미지 배열에 json 넣기
					
				};
				reader.readAsDataURL(file);  //파일 읽기
			}
		}
	}
	
	/*------------------------------------------
		kakao 우편번호 조회 api
	------------------------------------------*/
	function openPostcode(){
		new daum.Postcode({
	        oncomplete: function(data) { //선택시 입력값 세팅
	        	let addr = ''; // 주소 변수
	        	
	        	//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                addr = data.roadAddress;
	            } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                addr = data.jibunAddress;
	            }
	        	// 우편번호와 주소 정보를 해당 필드에 넣는다.
	        	$("input[name='postcode']").val(data.zonecode);
	        	$("input[name='store_sido']").val(addr);
	            // 커서를 상세주소 필드로 이동한다.
	            $("input[name='store_addr']").focus();
	        }
	    }).open();
	}
	
	$(function(){
		//우편주소 찾기 
		$("#search_address").click(function(){
			openPostcode();
		});
		
		//이메일 직접입력
		 $( "#email_select" ).change(function(){
	            $("input[name='email_domain']").val( $("#email_select").val() );
	        });
		
		//파일 선택
		$("input[name='certification']").change(function(){
			//console.log(this.files);
			preview(this.files);
		});
	});
	
    </script>
</html>